@import "tailwindcss";

@theme {
    --color-primary: #0319A6;
}

input {
    width: 100%;
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem;
    padding-top: 0.5rem; /* py-2 */
    padding-bottom: 0.5rem;
    background-color: white;
    border-radius: 0.5rem; /* rounded-lg */
    outline: none;
}

input.inputError {
    border: 2px solid red;
}
